<!-- Image and text -->
<!--<nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.566);">
    <a class="navbar-brand" href="#">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      Tool Pain
    </a>
  </nav>-->
  <nav class="navbar navbar-light" style="background-color: #2679b4;">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/cruz3.svg" type="img/svg" style="margin-left: 10px;" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong style="color: #ffffff; margin-left: 10px;">Tool-Pain Application</strong> 
    </a>
  </nav>
<router-outlet></router-outlet>
