<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" style="background-color: #2679b4;" routerLink="/">Listado</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg offset-lg">
            <div class="card">
                <div class="card-body">
                    <strong class="titulo">PACIENTE </strong>
                    <br>
                    <br>
                        <div style="width: 50%; float:left; font-family:'Montserrat', sans-serif;">
                            <strong>Nombre:</strong> Juan <br>
                            <strong>Apellidos:</strong> Sánchez López <br>
                            <strong>Fecha de inicio de rehabilitación:</strong> 12 de mayo de 2022<br>
                            <strong>Fecha de fin de rehabilitación:</strong> Sin determinar<br>
                         </div>
                         <div style="width: 50%; float:right; font-family:'Montserrat', sans-serif;">
                            <strong>Motivo de rehabilitación:
                                <br>
                            </strong> <textarea disabled style="height: 85px; width: 600px">Fractura de radio y cúbito</textarea>
                         </div>
                </div>
                <div class="container mt-3 mb-3">
                    <hr>
                    <div class="row">
                        <div class="col">
                            <span class="titulo" style="font-size: 1.4rem;"><strong>Sesiones</strong></span>
                            <table *ngIf="listSesiones.length > 0" class="table table-striped">
                                <thead>
                                  <tr style="background-color: #2679b4;">
                                    <th style="color: #ffffff;" scope="col">Nº</th>
                                    <th style="color: #ffffff;" scope="col">Fecha</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let sesion of listSesiones">
                                    <td>{{ sesion._id }}</td>
                                    <td>{{ sesion.date | date: 'medium' }}</td>
                                    <td>
                                        <i [routerLink]="['/ver-sesion', sesion._id]" class="fas fa-solid fa-eye"></i>
                                        <i (click)="eliminarSesion(sesion._id)" class="fas fa-solid fa-trash"></i>
                                        <i [routerLink]="['/editar-sesion', sesion._id]" class="fas fa-solid fa-pen-to-square"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <h5 style="text-align: start;" *ngIf="listSesiones.length == 0">No hay sesiones de rehabilitación</h5>
                        </div>
                    </div>
                    <br>
                    <button style="font-family:'Montserrat', sans-serif;" class="btn btn-success float-end" routerLink="/crear-sesion"><i class="fa-solid fa-plus"></i> Nueva Sesión</button>
                </div>
            </div>
        </div>