<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" routerLink="/">Listado</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <span class="titulo"><strong>PACIENTE: </strong>ID-4679643</span>
                    <br>
                    <br>
                    <span style="font-family:'Montserrat', sans-serif;"><strong>Nombre:</strong> Juan
                        <br><strong>Apellidos:</strong> Sánchez López
                        <br><strong>Fecha de inicio de rehabilitación:</strong> 12/05/2022 <br><strong>Fecha de
                            fin de rehabilitación:</strong> --/--/---- <br><strong>Motivo de rehabilitación:
                        </strong> <input type="text" disabled value="Fractura de radio y cúbito"></span>
                </div>
                <div class="container mt-3 mb-3">
                    <hr>
                    <div class="row">
                        <div class="col">
                            <span class="titulo" style="font-size: 1.4rem;"><strong>Sesiones</strong></span>
                            <table *ngIf="listSesiones.length > 0" class="table table-striped">
                                <thead>
                                  <tr class="table-primary">
                                    <th scope="col">Nº</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let sesion of listSesiones">
                                    <td>{{ sesion._id }}</td>
                                    <td>{{ sesion.date | date: 'medium' }}</td>
                                    <td>
                                        <i [routerLink]="['/ver-sesion', sesion._id]" class="fas fa-solid fa-eye"></i>
                                        <i (click)="eliminarSesion(sesion._id)" class="fas fa-solid fa-trash"></i>
                                        <i [routerLink]="['/editar-sesion', sesion._id]" class="fas fa-solid fa-pen-to-square"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <h5 style="text-align: start;" *ngIf="listSesiones.length == 0">No hay sesiones de rehabilitación</h5>
                        </div>
                    </div>
                    <br>
                    <button style="font-family:'Montserrat', sans-serif;" class="btn btn-success float-end" routerLink="/crear-sesion"><i class="fa-solid fa-plus"></i> Nueva Sesión</button>
                </div>
            </div>
        </div>