<!-- <p>ver-sesion works!</p> -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" routerLink="/ver-paciente">Listado sesiones</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg offset-lg">
            <div class="card">
                <div class="card-body">
                    <span class="titulo"><strong>Ver Sesion: {{this.id}}</strong></span>
                    <br>
                    <div class="container mt-3 mb-3">
                        <div class="row">
                            <div class="col">
                                <br><strong>Ejercicios a realizar:</strong> {{sesionData.exerciseToDo}}
                                <br><strong>Duración total aproximada:</strong> {{sesionData.aproxTotalDuration}} minutos
                                <br><strong>Duración total real:</strong> {{sesionData.actualTotalDuration}} minutos
                                <br><strong>Fecha de la sesión:</strong> {{sesionData.date}}<strong>
                                <br>Observaciones:</strong> {{sesionData.comments.length}} comentarios durante la sesión (ver tabla)
                            </div>
                        </div>
                        <br>
                            <canvas style="margin-top: 10px;" height="80" id="linePulsaciones"></canvas>
                        <br>
                        <div style="margin-top: 20px;" class="row">
                            <div class="col">
                                <canvas id="doughnutEmociones"></canvas>
                            </div>
                            <div class="col">
                                <table class="table">
                                    <thead>
                                        <tr class="table-primary">
                                            <th scope="col">Nota</th>
                                            <th scope="col">Emoción</th>
                                            <th scope="col">Quejido</th>
                                            <th scope="col">Pulsaciones</th>
                                            <th scope="col">Instante temporal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let comentario of sesionData.comments">
                                            <td>{{comentario.nota}}</td>
                                            <td *ngIf="listExpressions[0].fecha==comentario.fecha && emocionPorObjeto[0].fecha == comentario.fecha">{{emocionPorObjeto[0].emocion | emociones}}</td>
                                            <td *ngIf="listExpressions[1].fecha==comentario.fecha && emocionPorObjeto[1].fecha == comentario.fecha">{{emocionPorObjeto[1].emocion | emociones}}</td>
                                            <td *ngIf="listExpressions[2].fecha==comentario.fecha && emocionPorObjeto[2].fecha == comentario.fecha">{{emocionPorObjeto[2].emocion | emociones}}</td>

                                            <td *ngIf="listMoans['ay'][0]==comentario.fecha">¡Ay!</td>
                                            <td *ngIf="listMoans['meDuele'][0]==comentario.fecha">¡Me duele!</td>
                                            <td *ngIf="listMoans['para'][0]==comentario.fecha">¡Para!</td>

                                            <td *ngIf="listPulsaciones[0].fecha==comentario.fecha && listPulsaciones[0].pulsacion>100">{{listPulsaciones[0].pulsacion}}</td>
                                            <td *ngIf="listPulsaciones[1].fecha==comentario.fecha && listPulsaciones[1].pulsacion>100">{{listPulsaciones[1].pulsacion}}</td>
                                            <td *ngIf="listPulsaciones[2].fecha==comentario.fecha && listPulsaciones[2].pulsacion>100">{{listPulsaciones[2].pulsacion}}</td>

                                            <td>{{comentario.fecha.toLocaleString('es-ES', {dateStyle:"full", timeStyle:
                                                "medium"})}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <ng-template #noEmocion>No hay emoción</ng-template>
                                <ng-template #noQuejido>No hay quejido</ng-template>
                                <ng-template #noPulsacion>No hay pulsaciones</ng-template> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
