<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg offset-lg">
                <div class="card" style="background-color:   #2679b4;">
                    <div class="card-body text-center">
                        <strong><span class="titulo" style="color: rgb(255, 255, 255);">LISTADO PACIENTES</span></strong>
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="card-body text-center" style="background: rgb(255, 255, 255);">
                                <span style="font-family:'Montserrat', sans-serif;"><strong>NOMBRE:</strong> DANIELA
                                    <br><strong>APELLIDOS:</strong> SÁNCHEZ LÓPEZ <br><strong>FECHA DE INICIO DE
                                        REHABILITACIÓN:</strong> 01/10/2022</span>
                                <button class="btn float-end" routerLink="/ver-paciente"><i
                                        class="fas fa-solid fa-eye"></i></button>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="card-body text-center" style="background: rgb(255, 255, 255);">
                                <span style="font-family:'Montserrat', sans-serif;"><strong>NOMBRE:</strong> MARTA
                                    <br><strong>APELLIDOS:</strong> GARCÍA LÓPEZ <br><strong>FECHA DE INICIO DE
                                        REHABILITACIÓN:</strong> 03/05/2022</span>
                                <button class="btn float-end" routerLink="/ver-paciente"><i
                                        class="fas fa-solid fa-eye"></i></button>
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="card-body text-center" style="background: rgb(255, 255, 255);">
                                <span style="font-family:'Montserrat', sans-serif;"><strong>NOMBRE:</strong> PEPE
                                    <br><strong>APELLIDOS:</strong> PÉREZ GARCÍA <br><strong>FECHA DE INICIO DE
                                        REHABILITACIÓN:</strong> 09/03/2022</span>
                                <button class="btn float-end" routerLink="/ver-paciente"><i
                                        class="fas fa-solid fa-eye"></i></button>
                            </div>
                        </div>
                        <!--Paginación-->
                        <nav aria-label="..." style="font-family:'Montserrat', sans-serif; margin-top: 30px;">
                            <ul class="pagination justify-content-center">
                              <li class="page-item disabled">
                                <span class="page-link">Anterior</span>
                              </li>
                              <li class="page-item active">
                                <span class="page-link" style="background-color: #2679b4; border-color: white;">
                                  1
                                  <span class="sr-only">(current)</span>
                                </span>
                              </li>
                              <li class="page-item"><a class="page-link" href="#" style="color: #2679b4">2</a></li>
                              <li class="page-item"><a class="page-link" href="#" style="color: #2679b4">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" style="color: #2679b4">Siguiente</a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>